@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:focus,
*:hover {
    outline: none;
}

body {
  @apply bg-indigo-100;
  background-image: url("../../public/images/bg-map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
}